<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>

  <!DOCTYPE html>
  <html>
  <head>
    <title>صفحه اصلی</title>
  </head>
  <body>
    <h1>خوش آمدید!</h1>
    <a href="/upload">آپلود عکس</a>
    <% if (image) { %>
      <h2>عکس شما:</h2>
      <img src="<%= image %>" width="300" />
    <% } %>
  </body>
  </html>
  



</body>
</html>