<!DOCTYPE html>
<html>
<head>
  <title>Upload</title>
</head>
<body>
  <h1>Upload Image</h1>


  <!DOCTYPE html>
<html>
<head>
  <title>آپلود عکس</title>
</head>
<body>
  <h1>لطفاً عکس خود را انتخاب کنید</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required />
    <button type="submit">آپلود</button>
  </form>
</body>
</html>

</body>
</html>